@import url("https://fonts.googleapis.com/css2?family=Allan&display=swap");

$nav-background: #9efcff;
$friends-background: #95e1e4f1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 5em;
  background-color: $nav-background;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left:first-child {
    margin-left: 1em;
    font-family: "Allan", cursive;
    font-size: 3em;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

  i {
    font-size: 40px !important;
    margin: 0 0.4em;
  }

  i:last-child {
    margin-right: 1em;
  }
}

.friends {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 24em;
  height: calc(100vh - 5em);
  border-right: 0.1em solid rgba(185, 185, 185, 0.11);

  .friend {
    height: 5em;
    background-color: $friends-background;
    display: flex;
    align-items: center;
    padding: 1em;

    .circle {
      background-color: yellow;
      height: 4em;
      width: 4em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    i {
      font-size: 3.5em;
    }

    .personInfo {
      display: flex;
      flex-direction: column;
      padding: 2em;
    }
  }
}
