@import url("https://fonts.googleapis.com/css2?family=Allan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

$nav-background: #9efcff;
$friend-background: #95e1e4f1;
$friend-background-hover: #ace4e6f1;
$registerFormBG: rgba(201, 204, 204, 0.774);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

nav {
  width: 100%;
  height: 5em;
  background-color: $nav-background;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left:first-child {
    margin-left: 1em;
    font-family: "Allan", cursive;
    font-size: 3em;
  }

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
      color: black;
    }
  }

  i {
    font-size: 3em !important;
    margin: 0 0.4em;

    &:hover {
      cursor: pointer;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logout {
    margin-left: 1em;
    font-size: 2em;
    margin-right: 1em;
  }

  .modal {
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(148, 148, 148, 0.822);

    .modalInputs {
      background-color: rgba(104, 104, 104, 0.685);
      width: 40vw;
      height: 50vh;
      border-radius: 1em;
      position: relative;

      #closeIcon {
        position: absolute;
        top: 0;
        right: 0;

        i {
          color: rgb(214, 0, 0);
          font-size: 0.1em;
          font-weight: 0.1em;
        }
      }

      .submitButton {
        bottom: 0;
        margin: auto;
        height: min-content;
      }

      input {
        border: 0.1em solid rgba(146, 221, 255, 0.651);
        border-radius: 0.6em;
        font-size: 1.1em;
        padding: 0.5em;
        width: 90%;
        display: block;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        transition: outline 0.1s linear;

        &:focus {
          outline: 0.2em solid #9efcff;
        }
      }

      input:first-child {
        margin-top: 5em;
      }
    }
  }
}

// THE LOADING EFFECT
.skeleton {
  width: 100vw;
  height: 100vh;
  background-color: #e2e5e7;
  // The shine that's going to move across the skeleton:
  background-image: linear-gradient(
    90deg,
    rgba(#fff, 0),
    rgba(#fff, 0.5),
    rgba(#fff, 0)
  );
  background-size: 40px 100%; // width of the shine
  background-repeat: no-repeat; // No need to repeat the shine effect
  background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
  animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}

.dashboard {
  height: calc(100vh - 5em);
  display: flex;

  .rooms {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 22%;
    height: 100%;
    border-right: 0.1em solid rgba(185, 185, 185, 0.11);

    .room {
      height: 5em;
      background-color: $friend-background;
      display: flex;
      align-items: center;
      padding: 1em;

      &:hover {
        background-color: $friend-background-hover;
        cursor: pointer;
      }

      .circle {
        background-color: yellow;
        height: 4em;
        width: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

      i {
        font-size: 3.5em;
      }

      .personInfo {
        display: flex;
        flex-direction: column;
        padding: 2em;

        div:first-child {
          font-weight: bold;
        }
      }
    }
  }

  .chat {
    display: inline-block;
    height: 100%;
    width: 78%;
    background-color: #d4d4d43d;

    .roomInfo {
      height: 10%;
      width: 100%;
      padding-bottom: 2em;
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background-color: aqua;

      .roomName {
        font-weight: bold;
      }

      .roomId {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .messages {
      height: 80%;
      width: 100%;
      overflow: scroll;

      .toMessage {
        border-radius: 1em 0 1em 1em;
        background-color: $friend-background-hover;
        max-width: 80ch;
        width: fit-content;
        word-wrap: break-word;
        padding: 0.5em 1em;
        margin: 0.4em 2em;
        margin-top: 0;
        margin-left: auto;
      }

      .fromMessage {
        border-radius: 0 1em 1em 1em;
        background-color: $friend-background;
        max-width: 80ch;
        width: fit-content;
        word-wrap: break-word;
        padding: 0.5em 1em;
        margin: 0.4em 2em;
        margin-top: 0;
        margin-right: auto;
      }

      .messageInfo {
        display: flex;
        justify-content: space-between;

        * {
          font-size: 0.85em;
          margin: 0 0.5em;
        }

        .userName {
          font-weight: bold;
        }
      }
    }

    .writeMessage {
      height: 10%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $nav-background;

      input {
        width: 95%;
        height: 2em;
        border-radius: 1em;
        padding: 1.2em;
        font-size: 1.1em;
      }
    }
  }
}

.form {
  background-image: url("./images/register_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  form {
    background-color: $registerFormBG;
    border-radius: 2em;

    &#focused {
      box-shadow: inset 0 0 3em 0 rgba(146, 221, 255, 0.651);
    }

    &#notFocused {
      box-shadow: 0 0 3em 0 rgba(146, 221, 255, 0.651);
    }

    div {
      text-align: center;
      height: min-content;
      margin: 0;
      padding: 0;
    }

    img {
      filter: opacity(0.5) drop-shadow(0 0 0 blue);
    }

    * {
      margin: 1em;
    }

    label {
      font-family: "Indie Flower", cursive;
      font-size: 1.5em;
    }

    input {
      border: 0.1em solid rgba(146, 221, 255, 0.651);
      border-radius: 0.6em;
      font-size: 1.1em;
      padding: 0.5em;
    }
  }
}

.errorBox {
  z-index: 4;
  position: absolute;
  top: 1em;
  right: 1em;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    font-family: "Indie Flower", cursive;
    position: relative;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: black;
    text-decoration: none;
    background-color: white;
    border: transparent;
    outline: transparent;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    animation: glow 8s linear infinite;
    font-weight: 900;

    &-gradient {
      background: linear-gradient(90deg, #a8a8a8, #757575, #a8a8a8);
      background-size: 300%;
      border-radius: 2em;

      &::before {
        position: absolute;
        content: "";
        top: -0.1em;
        left: -0.1em;
        bottom: -0.1em;
        right: -0.1em;
        z-index: -1;
        background: inherit;
        background-size: inherit;
        border-radius: 4em;
        opacity: 0;
        transition: 0.5s;
      }

      &:hover {
        opacity: 0.8;
      }

      &:hover::before {
        opacity: 1;
        filter: blur(20px);
        animation: glow 8s linear infinite;
      }
    }
  }

  @keyframes glow {
    to {
      background-position: 300%;
    }
  }
}
